/* ================================= 
  Web Fonts
==================================== */

body {
    font-family: 'Simonetta', Arial, sans-serif;
    background-color: rgb(230, 224, 224);
}


/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* ---- header ---- */

.img-header {
  margin: 0;
  float: left;
}
.img-header img {
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 50%;
}
.img-header h1 {
  float: right;
}
.main-nav {
  float: right;
}
.main-nav li {
  display: inline-block;
  padding: 0 15px;
}


/* ================================= 
  Base Layout Styles
==================================== */




.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */