/* ================================= 
  Web Fonts
==================================== */

body {
    font-family: 'Simonetta', Arial, sans-serif;
    background-color: rgb(228, 220, 220);
}


/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    border: 1px solid red;
}


/* ================================= 
  Base Layout Styles
==================================== */






/* ================================= 
  Media Queries
==================================== */