:root {
  --main-bg-color: #E6E0E0;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* ================================= 
  Web Fonts
==================================== */

body {
    font-family: 'Simonetta', Arial, sans-serif;
    background-color: var(--main-bg-color);
}


/* ================================= 
  Base Element Styles
==================================== */


    /* ---- header ---- */

header h1,
.main-nav li {
  text-align: center;
}

.main-nav li {
  padding: 15px 0;
  font-size: 1.5em;
}




    /* ---- main ---- */


    /* ---- footer ---- */


/* ================================= 
  Base Layout Styles
==================================== */




.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */