// margin: 100px 0;

.contact-header ul li {
    display: inline-block;
    padding: 0 15px;
    margin: 0 10px;
    
    & a {
        display: block;
        padding: 5px 15px;
        transition: transform .5s;
        
    }
}

.contact-header {
    margin-bottom: 15%;
    
    & .contact-linkedin {
        background: $linkedin-color;

        &:hover {
            background-color: lighten($linkedin-color, $amount: 25%);
            transform: scale(1.1);
        }
    }
    & .contact-github {
        background: $github-color;

        &:hover {
            background-color: lighten($github-color, $amount: 25%);
            transform: scale(1.1);
        }
    }
    & .contact-email {
        background: $google-color;

        &:hover {
            background-color: lighten($google-color, $amount: 25%);
            transform: scale(1.1);
        }
    }

    & h3 {
        margin-top: 50px;
        font-size: 1.7em;
        font-weight: 300;
        color: $color-black;
    }
}