footer {
    background-color: $main-color;
    color: $color-black;
}

.mobile {
    @include flexlayout ($dirct: row, $justcont: center);
    margin: 0 20px;
}

.copyright {
    align-self: center;
    flex: 2;
}