body {
    @include mq(lg) {
        font-size: 1.2rem;
    }
}

/* ============================================= */
/*              Header                           */
/* ============================================= */

.main-header {
    @include mq(med) {
        @include flexlayout ($justcont: space-around);
        padding: 20px 0;
    }
    @include mq(lg) {
        @include flexlayout ($justcont: space-between);
        padding: 30px 20px
    }
}

.header-h1-second {
    @include mq(med) {
        display: block;
        text-align: center;
    }
}

.header-h1,
.dropbtn,
.profileimg {
    @include mq(med) {
        display: none;
    }
}

.main-nav {
    @include mq(med) {
        flex: none;
        align-self: center;
    }
}

.main-nav ul li a {
    @include mq(med) {
        display: inline-block;
        transition: color .5s ease-in, transform .5s ease-in-out;
        &:hover {
            transform: scale(1.2) rotate(1turn);
            color: #77a8a8;
        }
    }
}

.dropdown {
    @include mq(med) {
        margin: 0;
        display: inline;
        position: static;
        
        &-content {
            display:inline;
            position: static;

            & li {
                display: inline;
                background: none;
                padding: 0 10px;
            }
        }

        &:hover .dropdown-content {
            animation: none;
        }
    }
}

/* ============================================= */
/*                  About                        */
/* ============================================= */

.about {
    @include mq(med) {
        padding: 100px 50px;

        &:hover .bio {
            background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.7) 30%,
            rgba(0, 0, 0, 0.8) 70%,
            rgba(255, 255, 255, 0) 100%);
            border-radius: 100px;
            background-position: 0 0;
            opacity: 1;
        }
    }

    @include mq(lg) {
        padding: 200px 100px;
    }
}

.profileimg {
    @include mq(med) {
        display: none;
    }
}

.about .bio {
    @include mq(med) {
        opacity: 0.3;
    
        & p {
            background: none;
        }
    }
}

/* ============================================= */
/*                  Skills                       */
/* ============================================= */

.skills-header h1 {
    @include mq(lg) {
        margin: 200px 0 0 0;
    }
}

.skills {
    @include mq(med) {
        background: linear-gradient(0deg, #fff, transparent),
                    linear-gradient(0deg, rgb(241, 246, 250), rgb(169, 255, 241), #fff);
        perspective: 700px;
    }
}

.skills .skill {
    @include mq(med) {
        position: relative;
        transition: transform 1s cubic-bezier(.63,-0.71,.21,1.53);
        transform-style: preserve-3d;
        
        &:hover {
            transform: rotateY(180deg);
        }
        
        & img {
            height: 120px;
            width: 120px;
            margin: 30px 20px;
            text-align: center;
        }
    
        &-description {
            @include flexlayout($dirct: column, $justcont: center, $alignitms: center);
            position: absolute;
            background: $skill-background;
            border-radius: 50%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    @include mq(lg) {
        & img {
            height: 160px;
            width: 160px;
        }
    }
}

.back {
    @include mq(med) {
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
}

/* ============================================= */
/*                  Projects                     */
/* ============================================= */

.projects-header h1 {
    @include mq(lg) {
        margin: 200px 0 0 0;
    }
}

.project {
    border: 2px solid #d6d6d6;
    border-radius: 10px;
}

.imgdescription > p {
    @include mq(med) {
        font-size: 0.9em;
        font-weight: bold;
    }
}

/* ============================================= */
/*                  Contact                      */
/* ============================================= */

.contact-header {
    @include mq(lg) {
        & h1 {
            margin: 200px 0 0 0;
        }

        & h3 {
            margin-top: 60px;
        }

        & ul {
            padding: 40px 0;
        }
    }
}

/* ============================================= */
/*                  Footer                       */
/* ============================================= */

.mobile {
    @include mq(med) {
        margin: 40px;
        text-align: center;

        & ul {
            display: none;
        }
    }
}