

.projects {
    @include flexlayout ($dirct: column, $alignitms: center);
    margin: 0 5%;
}

.project {
    @include flexlayout ($justcont: center);
    position: relative;
    overflow: hidden;
    width: 80%;
    color: white;
    margin: 15% 0;

    & img {
        transform-origin: 0 0;
        height: 400px;
        width: 80%;
    }

    &:hover img {
        transform: scale(1.2);
        transition: transform 1.2s;
    }

    &:hover .imgdescription {
        opacity: 1;
        transform: translate(0) rotate(-360deg);
        transition: transform 1.2s;
    }

    &:hover .imgdescription a {
        transform: translateY(0);
        transition: transform .5s 1.5s;
    }
}

.imgdescription {
    @include flexlayout ($dirct: column);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    background: rgba($color-black, 0.5);
    transform: translateX(100%);

    & a {
        transform: translateY(800%);
        padding: 10px 0;
        width: 70%;
        align-self: center;

        &:first-of-type {
            margin-top: 20px;
        }

        &:hover {
            opacity: 0.5;
            background-color: $color-black;
            border-radius: 10px;
        }
    }
}

.imgdescription > * {
    margin: 2% 0;
    font-size: 1.3em;
    font-weight: bold;
}

.imgdescription p {
    color: $main-color;
}