* {
    box-sizing: border-box;
}

html {
    background: url(/img/backgroundimg2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    font-family: 'Merriweather', Arial, sans-serif;
    color: $main-color;
    min-height: 100vh;
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-heading {
    flex: 1;
    text-align: center;
    background-color: white;
}

.skills-header,
.projects-header,
.contact-header {
    margin-top: 100px;
}

.skills-header h1,
.projects-header h1,
.contact-header h1 {
    color: $color-black;
}

.back p {
    color: $skill-background-p;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: $color-black;
    &:link {
        color: $anchor-link;
    }
    &:visited {
        color: $anchor-visited;
    }
    &:hover {
        color: $anchor-hover;
    }
    &:active {
        color: $anchor-active;
    }
}

// hr line default

hr.line {
    margin-bottom: 50px;
    border: 0;
    height: 1px;
    background-image: 
    linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0));
}